{% extends "layout.html" %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4"> {{job.name}}</h1>
  <p>{{job.salary}} €</p>
  <hr class="my-4">
  <p>{{job.description}}</p>
  <hr class="my-4">
  <form method="POST" action="{{url_for('jobs_question', job_id = job.id)}}">
    {{form.name (class='form-control')}}
    <td><input class="btn btn-primary btn-block" type="submit" value="Ask a question" /></td>
  </form>
  <table>
    <tr>
      {% for question in job.question %}
    <tr>
      <td>{{question.content}}</td>
    </tr>
    {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}