{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">

    {% for job in jobs %}

    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <a href="{{ url_for('jobs_show', job_id=job.id) }}">
          <h5 class="card-title">{{job.name}}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{job.salary}} €</h6>
        <p class="card-text">{{job.description}}</p>
        <b><p>{{ job.interested }}</p></b>
      </div>
      {% if user is defined %}
      <form method="POST" action="{{ url_for('jobs_set_active', job_id=job.id) }}">
        <input style="width: 90px;" type="submit" value="Interested" class="btn btn-primary btn-sm" />
      </form>
      <form action="{{ url_for('jobs_edit_form', job_id=job.id) }}">
        <input style="width: 90px;" class="btn btn-warning btn-sm" type="submit" value="Edit Job " />
      </form>
      <form method="POST" action="{{ url_for('jobs_delete', job_id=job.id) }}">
        <input style="width: 90px;" class="btn btn-danger btn-sm" type="submit" value="delete job" />
      </form>
      {% endif %}
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}