{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Jobber</h1>
  <p>U can use jobber to browse jobs for fast money or even u can add your own job offers here</p>
 

  <p class="lead">U can ask Questions about the jobs like</p>
  <p>Questions in our system</p>
  
  {% if most_questions is defined %}

  <ul>
    {% for user in most_questions %}
    <li>
      {{user.name}} with {{user.question}} question
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <hr class="my-4">

  {% if offers is defined %}

  {% for job in offers %}
  <p class="lead">We currently have {{job.count}} job offer in our system</p>

  {% endfor %}

  {% endif %}

</div>
{% endblock %}