<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobber</title>
  </head>

  <body>

    <body>
      {% if current_user.is_authenticated %}
      <p>
	Logged in {{ current_user.username }}.  <a href="{{ url_for('auth_logout') }}">Logout</a>
      </p>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Log in</a>
      <a href="{{ url_for('auth_register') }}">Register</a>
      {% endif %}
      
    <ul>
      <li><a href="{{ url_for('jobs_index') }}">List Jobs</a></li>
      <li><a href="{{ url_for('jobs_form') }}">Add a Job</a></li>
          </ul>

    {% block body %}
      <p>
        Content.
       
      </p>
    {% endblock %}
  </body>
</html>